.idea/
.git/
__pycache__
~*
/aicells-python/aicells_pkg/aicells/aicells-server/base_class/udf-draft/
/aicells-python/aicells_pkg/aicells/aicells-server/yml/tool-1-draft/
/aicells-python/aicells_pkg/aicells/aicells-server/yml/udf-1-draft/
/aicells-python/aicells_pkg/aicells/aicells-server/base_class/udf/aicSGTest.py
/aicells-python/aicells_pkg/aicells/aicells-server/yml/udf-2-alpha/aicSGTest.yml
/aicells-python/aicells_pkg/aicells.egg-info/
/aicells-python/aicells_pkg/build/
/aicells-python/aicells_pkg/dist/
/aicells-python/winpython64-3760/
/aicells_pkg-conda/
/trash/
/bugs/
/Examples/
/0gitignore/
/aicells-temp/output.svg
/aicells-excel-add-in/bas/UserFormFunctionRunner.log
